footer.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  @include fz(16);

  @media (max-width: 576px) {
    @include fz(13);
    padding-bottom: 40px;
  }
}

.col-footer {
  &-conditions {
    text-align: right;

    @media (min-width: 768px) {
      text-align: center;
    }
  }

  &-socials {
    text-align: center;

    @media (min-width: 768px) {
      text-align: right;
    }
  }
}

.footer-conditions {
  border-bottom: 1px dotted rgba(#FFF,.6);

  &:hover {
    border-bottom-color: transparent;
  }
}
.footer-socials {
  margin-top: -3px;
  
  &-label,
  &-items,
  &-link {
    display: inline-block;
    vertical-align: middle;
  }
  &-link {
    margin-left: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #FFF;
  }

  @media (max-width: 768px) {
    margin-top: 25px;
  }
}