.gifts-slick {
  margin-bottom: 54px;

  &-item {
    position: relative;

    &-img {
      border-radius: 50px;
    }
    &-btn {
      position: absolute;
      left: 8.5%;
      bottom: 4%;
    }
  }
}

.holidays-air {
  max-width: 1920px;
  margin: 62px auto 40px;
  background-color: #FFF;
  border-radius: 250px;
  padding: 30px 0;

  &-body {
    position: relative;
    text-align: right;
  }
  &-schedule {
    display: inline-block;
    background-color: $bg2;
    border-radius: 154px;
    padding: 54px 120px;
    @include fz(24);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  &-sticker {
    display: inline-block;
    vertical-align: baseline;
    height: 77px;
    line-height: 77px;
    background-color: #fff;
    color: $bg2;
    border-radius: 38px;
    padding: 0px 35px;
    margin: 0px 15px;
  }
  &-santa {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
  }

  @media (max-width: 1200px) {
    &-santa {
      left: 0;
    }
    &-schedule {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}


.affirmations {
  padding-top: 95px;
  padding-bottom: 100px;


  &-title {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      right: -115px;
      top: -35px;
      width: 185px;
      height: 185px;
      background: url(../images/snowflake@2x.png) center no-repeat;
      background-size: contain;
    }
  }

  &-window {
    position: relative;

    &-img {
      position: relative;
      background: #FFF;

      img {
        display: block;
      }
    }

    &-label {
      position: absolute;
      bottom: 10px;
      left: Min(7%, 83px);
      right: Min(7%, 83px);
      background: $bg2;
      padding: 20px 40px;
      border-radius: 35px;
      @include fz(20);
      font-weight: 500;
    }

    &-iconleft {
      position: absolute;
      left: -140px;
      top: -60px;

      &:after {
        content: "";
        position: absolute;
        top: 40px;
        left: -100px;
        height: 217px;
        width: 500px;
        border-radius: 110px;
        background: $bg2;
        z-index: -1;
      }
    }

    &-iconright {
      position: absolute;
      right: -280px;
      top: 43px;

      &:after {
        content: "";
        position: absolute;
        bottom: -43px;
        right: -40px;
        height: 217px;
        width: 700px;
        max-width: 55vw;
        border-radius: 110px;
        background: $bg2;
        z-index: -1;
      }
    }
  }
}