.gifts-slick {
  margin-bottom: 54px;

  &-item {
    position: relative;

    &-img {
      border-radius: 50px;
    }
    &-btn {
      position: absolute;
      left: 8.5%;
      bottom: 4%;
    }
  }
}

.holidays-air {
  max-width: 1920px;
  margin: 62px auto 40px;
  background-color: #FFF;
  border-radius: 250px;
  padding: 30px 0;

  &-body {
    position: relative;
    text-align: right;
  }
  &-schedule {
    display: inline-block;
    background-color: $bg2;
    border-radius: 154px;
    padding: 54px 120px;
    @include fz(24);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  &-sticker {
    display: inline-block;
    vertical-align: baseline;
    height: 77px;
    line-height: 77px;
    background-color: #fff;
    color: $bg2;
    border-radius: 38px;
    padding: 0px 35px;
    margin: 0px 15px;
  }
  &-santa {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
  }

  @media (max-width: 1200px) {
    &-santa {
      left: 0;
    }
    &-schedule {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}


.affirmations {
  padding-top: 95px;
  padding-bottom: 100px;


  &-title {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      right: -115px;
      top: -35px;
      width: 185px;
      height: 185px;
      background: url(../images/snowflake@2x.png) center no-repeat;
      background-size: contain;
    }
  }

  &-window {
    position: relative;

    &-img {
      position: relative;
      background: #FFF;

      img {
        display: block;
      }
    }

    &-label {
      position: absolute;
      bottom: 10px;
      left: Min(7%, 83px);
      right: Min(7%, 83px);
      background: $bg2;
      padding: 20px 40px;
      border-radius: 35px;
      @include fz(20);
      font-weight: 500;
    }

    &-iconleft {
      position: absolute;
      left: -140px;
      top: -60px;

      &:after {
        content: "";
        position: absolute;
        top: 40px;
        left: -100px;
        height: 217px;
        width: 500px;
        border-radius: 110px;
        background: $bg2;
        z-index: -1;
      }
    }

    &-iconright {
      position: absolute;
      right: -280px;
      top: 43px;

      &:after {
        content: "";
        position: absolute;
        bottom: -43px;
        right: -40px;
        height: 217px;
        width: 700px;
        max-width: 55vw;
        border-radius: 110px;
        background: $bg2;
        z-index: -1;
      }
    }
  }
}


.wall {
  background-color: #9C292E;
  padding-top: 100px;
  padding-bottom: 110px;

  &-header {
    position: relative;
    z-index: 1;

    &-img {
      position: absolute;
      right: -10%;
      top: -270px;
      width: 430px;
      z-index: -1;
    }
  }
}
.wall-cards {
  margin-bottom: 130px;

  &-pgn {
    &-wrap {
      display: inline-block;
      position: relative;
    }

    &-santa {
      position: absolute;
      left: 100%;
      margin-left: 60px;
      top: 50%;
      transform: translate(0,-53%);
      width: 407px;
    }
  }
}
.wall-card {
  margin-bottom: 30px;
  min-height: calc(100% - 30px);
  perspective: 1000px;
  display: flex;

  &-inner {
    position: relative;
    width: 100%;
    // height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &-front,
  &-back {
    backface-visibility: hidden;
    border-radius: 200px;
  }
  &-front {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #C61E2F url(../images/snowflake@2x.png) center no-repeat;
    background-size: auto 200px;
  }

  &-back {
    background: #FFF;
    transform: rotateY(180deg);
    color: #000;
    padding: 70px 40px 55px 100px;
    min-height: 100%;
  }

  &:hover {
    .wall-card-inner {
      transform: rotateY(180deg);
    }
  }

  &-short {
    margin-bottom: 10px;
    p {
      margin-bottom: 5px;
    }
  }
  &-who {
    @include fz(16);
    font-weight: 600;
    text-transform: uppercase;
    background: -webkit-linear-gradient(0deg, #569345, #2B5A1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-ghostleft {
    position: absolute;
    left: -100%;
    margin-left: -30px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #C61E2F url(../images/snowflake@2x.png) center no-repeat;
    background-size: auto 200px;
    border-radius: 200px;
    opacity: 0.5;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(270deg, rgba(198,30,47,0.59) 0%, rgb(156,40,46) 100%)
    }
  }
  &-ghostright {
    position: absolute;
    right: -100%;
    margin-right: -30px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #C61E2F url(../images/snowflake@2x.png) center no-repeat;
    background-size: auto 200px;
    border-radius: 200px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(270deg, rgb(156,40,46) 0%, rgba(198,30,47,0.59) 100%);
    }
  }
}

.pgn-btn {
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  line-height: 120px;
  padding: 0px 70px;
  border-radius: 60px;
  background: linear-gradient(90deg, #4D863C 0.08%, #2A571B 100.08%);
  color: #FFF;
  @include fz(18);
  font-weight: 700;
  transition: box-shadow .2s;

  svg {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    position: relative;
    top: -1px;
  }
  &:hover {
    color: #FFF;
    box-shadow: 0px 0px 0px 5px rgba(#FFF,.35);
  }
}

.wall-form {
  max-width: 512px;
  margin: 0 auto;
  position: relative;

  .ui-field {
    margin-bottom: 12px;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  [class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
  }
  &-bg {
    position: absolute;
    width: 340px;
    // z-index: -1;
    top: -80px;
    left: -188px;
  }
}



.certs {
  background: #FFF url(../images/bgs/certs.png) center no-repeat;
  background-size: contain;
  color: #000;
  padding: 110px 15px;

  &-block {
    position: relative;
    z-index: 1;
    background: #fff url(../images/bgs/hands.png) right 6% top 32% no-repeat;
    padding: 80px 50px;
    border-radius: 550px;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.11);
    max-width: 1510px;
    margin: 0 auto;
    @include fz(24);
    text-align: center;

    &-inner {
      max-width: 865px;
      margin: 0 auto;
    }

    &-bg-right {
      position: absolute;
      z-index: -1;
      bottom: 65px;
      left: -20px;
    }
  }
  &-form {
    width: 600px;
    max-width: 100%;
    margin: 0 auto 80px;

    &-field {
      position: relative;
      padding-right: 20px;
      flex: 0 0 calc(100% - 267px);
      max-width: calc(100% - 267px);
      text-align: left;

      .ui-field-label {
        position: absolute;
        left: 0;
        top: -20px;
      }
      span.invalid {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 5px;
      }
    }
  }

  &-opportunity {
    padding: 52px 120px;
    border-radius: 200px;
    background-color: $bg2;
    color: #FFF;

    &-header {
      margin-bottom: 40px;
      font-weight: 500;
    }
    &-title {
      font-weight: 700;
      margin-bottom: 30px;
    }
    &-list {
      max-width: 400px;
      margin: 0 auto;
      counter-reset: myCounter;

      li {
        position: relative;
        padding-left: 70px;
        margin-bottom: 30px;
        text-align: left;

        &:nth-of-type(even) {
          margin-left: 25px;
        }

        &:before {
          counter-increment: myCounter;
          content: counter(myCounter);
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -25px;
          min-width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: #FFF;
          background: #C61E2F;
          border-radius: 25px;
          @include fz(36);
        }
      }
    }
  }
}